/* Default button */
button {
    color: rgb(255, 255, 255);
    background-color: #22262A;
    border: 2px solid #22262A;
    border-radius: 4px;
    padding: 15px 30px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    text-align: center;
}

button:focus {
    outline: none
}

button:hover {
    background-color: #13161A;
    border: 2px solid #13161A;
    transition: 0.3s ease;
}

button:active {
    outline-style: none;
    filter: brightness(70%);
    transition: 0.3s ease;
}

.button-large {
    padding: 22px 38px;
    font-size: 16px
}

.button-default-hollow {
    color: #22262A;
    background-color: white;
    border: 2px solid #22262A;
}

.button-default-hollow:hover {
    background-color: rgba(19, 22, 26, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
    color: black;
}

/* Primary Button */
.button-primary {
    background-color: #33A0FF;
    border: 2px solid #33A0FF
}

.button-primary:hover {
    background-color: #2E90E5;
    border: 2px solid #2E90E5
}

.button-primary-hollow {
    color: #33A0FF;
    background-color: white;
    border: 2px solid #33A0FF
}

.button-primary-hollow:hover {
    color: #33A0FF;
    background-color: rgba(51, 160, 255, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
}

/* Danger Button */
.button-danger {
    background-color: #FF4858;
    border: 2px solid #FF4858
}

.button-danger:hover {
    background-color: #F53848;
    border: 2px solid #F53848
}

.button-danger-hollow {
    color: #FF4858;
    background-color: white;
    border: 2px solid #FF4858
}

.button-danger-hollow:hover {
    color: #FF4858;
    background-color: rgba(255, 72, 87, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
}

/* Warning Button */
.button-warning {
    background-color: #FFC600;
    border: 2px solid #FFC600;
}

.button-warning:hover {
    background-color: #EBB600;
    border: 2px solid #EBB600;
}

.button-warning-hollow {
    color: #FFC600;
    background-color: white;
    border: 2px solid #FFC600;
}

.button-warning-hollow:hover {
    color: #FFC600;
    background-color: rgba(255, 200, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
}

/* Success button */
.button-success {
    background-color: #0AD00A;
    border: 2px solid #0AD00A
}

.button-success:hover {
    background-color: #07C107;
    border: 2px solid #07C107
}

.button-success-hollow {
    color: #0AD00A;
    background-color: white;
    border: 2px solid #0AD00A
}

.button-success-hollow:hover {
    color: #0AD00A;
    background-color: rgba(10, 208, 10, 0.1);
    border: 2px solid rgba(0, 0, 0, 0);
}
