button {
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px 30px;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    text-align: center;
}

button:focus {
    outline: none
}

button:active {
    outline-style: none;
    filter: brightness(70%);
    transition: 0.1s ease;
}

.button-large {
    padding: 22px 38px;
    font-size: 16px
}

button:hover {
    transition: 0.3s ease;
}

.button-primary {
    background-color: #33A0FF;
    border: 2px solid #33A0FF
}

.button-primary:hover {
    background-color: #2E90E5;
    border: 2px solid #2E90E5
}

.button-primary-hollow {
    color: #33A0FF;
    background-color: white;
    border: 2px solid #33A0FF
}

.button-primary-hollow:hover {
    color: white;
    background-color: #33A0FF;
    border: 2px solid #33A0FF
}

.button-danger {
    background-color: #FF4858;
    border: 2px solid #FF4858
}

.button-danger:hover {
    background-color: #F53848;
    border: 2px solid #F53848
}

.button-danger-hollow {
    color: #FF4858;
    background-color: white;
    border: 2px solid #FF4858
}

.button-danger-hollow:hover {
    color: white;
    background-color: #FF4858;
    border: 2px solid #FF4858
}

.button-warning {
    background-color: #FFC600;
    border: 2px solid #FFC600;
}

.button-warning:hover {
    background-color: #EBB600;
    border: 2px solid #EBB600;
}

.button-warning-hollow {
    color: #FFC600;
    background-color: white;
    border: 2px solid #FFC600
}

.button-warning-hollow:hover {
    color: white;
    background-color: #FFC600;
    border: 2px solid #FFC600;
}

.button-success {
    background-color: #0AD00A;
    border: 2px solid #0AD00A
}

.button-success:hover {
    background-color: #07C107;
    border: 2px solid #07C107
}

.button-success-hollow {
    color: #0AD00A;
    background-color: white;
    border: 2px solid #0AD00A
}

.button-success-hollow:hover {
    color: white;
    background-color: #0AD00A;
    border: 2px solid #0AD00A
}

.button-default {
    background-color: #22262A;
    border: 2px solid #22262A
}

.button-default:hover {
    background-color: #13161A;
    border: 2px solid #13161A
}

.button-default-hollow {
    color: #22262A;
    background-color: white;
    border: 2px solid #22262A
}

.button-default-hollow:hover {
    color: white;
    background-color: #13161A;
    border: 2px solid #13161A
}
