* {
    font-family: 'Proxima Nova', sans-serif;
    outline: none;
}

label {
    font-size: 14px;
    color: #22262A;
}

input {
    border: 2px solid #F1F3F4;
    border-radius: 4px;
    padding: 10px 150px 10px 15px;
    line-height: 16.8px;
}

form {
    margin: 5px auto;
}

select {
    display: inline-block;
    font-size: 14px;
    color: #22262A;
    fill: none;
    width: 200px;
    height: 38px;
    border: 2px solid #F1F3F4;
    border-radius: 4px;
    padding: 0 10px;
    background-color: white;
}

.select-filled {
    background-color: #FAFAFB;
    border: 2px solid #FAFAFB;
}

.select-medium {
    width: 300px;
    height: 46px;
}

.select-large {
    width: 300px;
    height: 60px;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 116px;
    height: 46px;
    border-radius: 4px;
    transform: translate(865 720);
    background: #F6F7F8;
    user-select: none;
}

.plus {
    padding: 10px;
}

.minus {
    padding: 10px;
}

.text {
    visibility: hidden;
}

.select {
    visibility: hidden;
}

::placeholder {
    opacity: 50%;
}

input.form-medium {
    padding: 15px 150px 15px 15px;
}

input.form-medium::placeholder {
    font-size: 16px;
}

input.form-large {
    padding: 22px 150px 22px 15px;
}

input.form-large::placeholder {
    font-size: 16px;
}